<div class="card" (click)="cardSelected.emit()">
  <div class="card-body">
    @switch (item().type) {
    @case (ClassType.Mage) {
    <p class="card-icon">🔮</p>
    }
    @case (ClassType.Warrior) {
    <p class="card-icon">⚔️</p>
    }
    @case (ClassType.Rogue) {
    <p class="card-icon">🗡️</p>
    }
    }
    <h3 class="subtitle-contrast">{{item().name}}</h3>
    <p class="smaller">{{item().description}}</p>
  </div>
  <div class="pill-container">
    @for (feature of item().features; track $index) {
    <p class="pill">{{feature}}</p>
    }
  </div>
</div>
