<div class="header">
  <div class="left">
    <div class="title">
      <h2 class="title-contrast" routerLink="/landing">⚔️ RPG Angular</h2>
    </div>
    <div class="actions">
      <button routerLinkActive="active" routerLink="/map">🗺️ Carte</button>
      <button routerLinkActive="active" routerLink="/city">🏰 Ville</button>
      <button routerLinkActive="active" routerLink="/inventory">🎒 Inventaire</button>
    </div>
  </div>

  <div class="resume">
    <p>💰 {{money()}}</p>
    <p>Niv. {{lvl()}}</p>
    <p>{{pseudo()}}</p>
    <button class="success" (click)="onSave()">💾 Sauvegarder</button>
    <button class="danger" (click)="onExit()">✖ Quitter</button>
  </div>
</div>
