.header {
  background-color: black;
  border-bottom: 1px solid rgba($color: #5c56a4, $alpha: 0.5);
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  h2 {
    margin-top: 0px;
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    button {
      cursor: pointer;
      max-height: 2rem;
      background-color: transparent;
      color: white;
      margin: 0.25rem;
      padding: 0.25rem;
      border: none;
      border-radius: 0.25rem;
      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.1) !important;
      }
    }
  }
  .resume {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0.25rem;
    }
    p:nth-child(1) {
      color: yellow;
    }
    p:nth-child(2) {
      color: aqua;
    }
    button {
      cursor: pointer;
      max-height: 2rem;
      background-color: transparent;
      color: white;
      margin: 0.25rem;
      padding: 0.25rem;
      border: none;
      border-radius: 0.25rem;
      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.1) !important;
      }
      &.success {
        background-color: rgba($color: #15a308, $alpha: 0.7) !important;
        &:hover {
          background-color: rgba($color: #15a308, $alpha: 1) !important;
        }
      }
      &.danger {
        background-color: rgba($color: #ec3535, $alpha: 0.7) !important;
        &:hover {
          background-color: rgba($color: #ec3535, $alpha: 1) !important;
        }
      }
    }
  }
}
