<div class="player-info">
  <div class="left">
    <p class="icon">⚔️</p>
    <div class="infos">
      <p class="info-item">Player Name</p>
      <p class="info-item">Warrior - Niveau 1</p>
    </div>
  </div>
  <p class="money">💰 50</p>
</div>
<div class="gauge-list">
  <div class="gauge-item">
    <div>
      <p>PV</p>
      <p>100 / 120</p>
    </div>
    <progress max="120" value="100"></progress>
  </div>
  <div class="gauge-item">
    <div>
      <p>PM</p>
      <p>30 / 30</p>
    </div>
    <progress max="30" value="30"></progress>
  </div>
  <div class="gauge-item">
    <div>
      <p>Expérience</p>
      <p>0 / 100</p>
    </div>
    <progress max="100" value="0"></progress>
  </div>
</div>
