<div class="player-info">
  <div class="left">
    <p class="icon">{{IconByType[player().type]}}</p>
    <div class="infos">
      <p class="info-item">{{player().pseudo}}</p>
      <p class="info-item">{{player().type}} - Niveau {{player().lvl}}</p>
    </div>
  </div>
  <p class="money">💰 {{player().money}}</p>
</div>
<div class="gauge-list">
  <div class="gauge-item">
    <div>
      <p>PV</p>
      <p>{{player().currentHp}} / {{player().characteristics.hp}}</p>
    </div>
    <progress [value]="player().currentHp" [max]="player().characteristics.hp"></progress>
  </div>
  <div class="gauge-item">
    <div>
      <p>PM</p>
      <p>{{player().currentMp}} / {{player().characteristics.mana}}</p>
    </div>
    <progress [value]="player().currentMp" [max]="player().characteristics.mana"></progress>
  </div>
  <div class="gauge-item">
    <div>
      <p>Expérience</p>
      <p>{{player().currentXp}} / {{player().lvl * 100}}</p>
    </div>
    <progress [value]="player().currentXp" [max]="player().lvl * 100"></progress>
  </div>
</div>
