<div class="player-info">
  <div class="left">
    <p class="icon">{{IconByType[player().type]}}</p>
    <div class="infos">
      <p class="info-item">{{player().pseudo}}</p>
      <p class="info-item">{{player().type}} - Niveau {{player().lvl}}</p>
    </div>
  </div>
  <p class="money">💰 {{player().money}}</p>
</div>
<div class="gauge-list">
  <div class="gauge-item">
    <div>
      <p>PV</p>
      <p>{{player().currentHp|interfaceDigits}} / {{player().characteristics.hp|interfaceDigits}}</p>
    </div>
    <progress [value]="player().currentHp|interfaceDigits"
      [max]="player().characteristics.hp|interfaceDigits"></progress>
  </div>
  <div class="gauge-item">
    <div>
      <p>PM</p>
      <p>{{player().currentMp | interfaceDigits}} / {{player().characteristics.mana | interfaceDigits}}</p>
    </div>
    <progress [value]="player().currentMp | interfaceDigits"
      [max]="player().characteristics.mana | interfaceDigits"></progress>
  </div>
  <div class="gauge-item">
    <div>
      <p>Expérience</p>
      <p>{{player().currentXp | interfaceDigits}} / {{player().lvl | xpRemaining}}</p>
    </div>
    <progress [value]="player().currentXp | interfaceDigits" [max]="player().lvl | xpRemaining"></progress>
  </div>
</div>
