<div class="container">
  <h2 class="title-contrast">⚔️ Création du personnage</h2>
  <div class="input-ctrl">
    <p class="subtitle-left">Nom du prénom *</p>
    <input type="text" [formControl]="nameFormControl" placeholder="Entrez le nom de votre héro...">
  </div>
  <h3>Choix de la classe</h3>
  <div class="select-class">
    @for (item of data; track item.description) {
    <app-character-card [ngClass]="{'selected':item.type === selectedCharacter?.type }" [item]="item"
      (cardSelected)="onSelect(item)"></app-character-card>
    }
  </div>
  @if (selectedCharacter) {
  <app-character-stats [character]="selectedCharacter"></app-character-stats>
  }
  <div class="landing-button"
  [ngClass]="{'disabled': nameFormControl.invalid || !selectedCharacter}"
  (click)="createCharacter()">
    🚀 Commencer l'aventure !
  </div>
</div>
