<div class="history-card">
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
  <p>{{now | date:'HH:MM:ss'}} : Combat démarré !</p>
</div>
