.gold {
  background-color: rgba($color: #fad242, $alpha: 0.1);
  display: flex;
  justify-content: space-between;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  p {
    text-align: center;
    color: yellow;
    width: 100%;
    font-size: larger;
  }
}
