/* You can add global styles to this file, and also import other style files */
// ─── Couleurs (HEX) ───────────────────────────────────────────────────────────
$forest-green: #2f4f3f;
$pine-green: #3e5f4f;
$deep-moss: #4f6f5f;
$soft-olive: #6f8f6f;
$sage-grey: #8fa39f;
$contrast-warning: #f96c00;
// ─── Dégradés ─────────────────────────────────────────────────────────────────
$_stops: $forest-green, $pine-green, $deep-moss, $soft-olive, $sage-grey;

$gradient-top: linear-gradient(0deg, $_stops);
$gradient-right: linear-gradient(90deg, $_stops);
$gradient-bottom: linear-gradient(180deg, $_stops);
$gradient-left: linear-gradient(270deg, $_stops);
$gradient-top-right: linear-gradient(45deg, $_stops);
$gradient-bottom-right: linear-gradient(135deg, $_stops);
$gradient-top-left: linear-gradient(225deg, $_stops);
$gradient-bottom-left: linear-gradient(315deg, $_stops);
$gradient-radial: radial-gradient($_stops);

html,
body {
  background: radial-gradient($forest-green, #0f0e0e);
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
}

h1.title-contrast {
  color: $contrast-warning;
  text-align: center;
  font-size: 36px;
  margin-bottom: 0.25rem;
}

h2.title-contrast {
  color: $contrast-warning;
  text-align: center;
  margin-bottom: 0.25rem;
}

h3.subtitle-contrast {
  color: $contrast-warning;
  text-align: center;
  margin-bottom: 0.125rem;
}

p.subtitle {
  color: $soft-olive;
  text-align: center;
}
p.subtitle-left {
  color: $soft-olive;
  text-align: left;
}

.landing-button {
  width: 100%;
  font-size: 28px;
  padding: 12px;
  color: white;
  border-radius: 6px;
  background-color: $pine-green;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 12px;
  background: rgba($color: #ffffff, $alpha: 0.05);
  border: 1px solid $sage-grey;
  border-radius: 4px;
  color: $sage-grey;
}

app-character-card {
  padding: 6px;
  height: 300px;
  background: rgba($color: #ffffff, $alpha: 0.05);
  border: 1px solid $sage-grey;
  border-radius: 6px;
  min-width: 30%;
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  &:hover {
    box-shadow: 3px 2px 6px 1px $soft-olive;
    transform: scale(1.03);
  }
  &.selected {
    border: 1px solid $soft-olive;
    background: rgba($color: #ffffff, $alpha: 0.15) !important;
  }
}

div.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;

  p.pill {
    margin: 0px;
    color: $contrast-warning;
    text-align: center;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: rgba($color: $contrast-warning, $alpha: 0.1);
  }
}
