.bag-container {
  padding: 2.5rem;
  border: solid 1px rgba($color: rgb(129, 111, 219), $alpha: 0.5);
  border-radius: 0.5rem;
  margin-top: 2.5;
  .bag-filter-pill {
    display: flex;
    .pill {
      margin: 6px;
      background-color: rgba(129, 111, 219, 0.1);
      padding: 0.5rem;
      border-radius: 1rem;
      cursor: pointer;
      &.selected {
        background-color: rgb(129, 111, 219);
      }
      &:hover:not(.selected) {
        background-color: rgba(129, 111, 219, 0.3);
      }
    }
  }

  .bag-content {
    margin-top: 2.5rem;
    .bag-item {
      cursor: pointer;
      padding: 0.5rem;
      display: flex;
      background-color: rgba(148, 140, 192, 0.1);
      border-radius: 0.5rem;

      margin-top: 6px;
      &.common {
        border-left: 6px solid grey;
      }

      &.rare {
        border-left: 6px solid rgb(148, 9, 248);
      }

      &.legendary {
        border-left: 6px solid gold;
      }

      .item-icon {
        font-size: 46px;
        margin-right: 8px;
      }
      .item-name {
        font-weight: 800;
        font-size: 20px;
      }
      .item-description {
        font-size: 18px;
        color: gray;
      }
      .item-footer {
        display: flex;
        .qty {
          margin-left: 6px;
          color: yellow;
        }
      }
      &:hover {
        background-color: rgba(148, 140, 192, 0.3);
      }
    }
  }
}
