<div class="bag-stat">
  <div class="bag-button">
    <button>🎒Tous</button>
    <button>🧪Potion</button>
    <button>🔪Armes</button>
    <button>🛡️Armures</button>
    <button>💍Accessoires</button>
  </div>
  <div class="bag-content">
    <span class="potion">🧪</span>
    <div class="content-text">
      <h3>Petite potion de soin</h3>
      <p>Restore 30 PV</p>
      <div>
        <p>Common</p>
        <span>x3</span>
      </div>
    </div>
    <button class="use">🧪Utiliser</button>
  </div>
</div>
