<div class="bag-container">
  <div class="bag-filter-pill">
    <div class="pill selected">
      🎒 Tous
    </div>
    @for (item of inventoryTypeFilters; track $index) {
    <div class="pill">
      {{IconByItemType[item]}} {{item}}
    </div>
    }
  </div>
  <div class="bag-content">
    @for (item of bag; track $index) {
      <div [class]="'bag-item ' + item.rarity">
        <div>
          <div class="item-icon">{{item.icon}}</div>
        </div>
        <div class="item-content">
          <div class="item-name">{{item.name}}</div>
          <div class="item-description">{{item.description}}</div>
          <div class="item-footer">
            <div class="qty">x{{item.qty}}</div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
