<div class="bag-container">
  <div class="bag-filter-pill">
    <div class="pill selected">
      🎒 Tous
    </div>
    @for (item of inventoryTypeFilters; track $index) {
    <div class="pill">
      {{IconByItemType[item]}} {{item}}
    </div>
    }
  </div>
  <div class="bag-content">
    @for (item of bag; track $index) {
      
      <span class="potion">{{item.icon}}</span>
      <div class="content-text">
        <h3>{{item.name}}</h3>
        <p>{{item.description}}</p>
        <div>
          <p>{{item.rarity}}</p>
          <span>x{{item.qty}}</span>
        </div>
      </div>
      <button class="use">🧪Utiliser</button>
    }
  </div>
</div>
