.inventory-container{
  display: flex;
  padding: 2.5rem;
  justify-content: center;
  app-player-inventory-summary{
    min-width: 40vw;
  }
  app-inventory-bag{
    min-width: 50vw;
    margin-left: 2.5rem;
  }
}
